[package]
authors = ['Piotr Olszewski <asmie@asmie.pl>']
name = "stamp-suite"
version = "0.2.0"
edition = "2021"
rust-version = "1.93.0"

categories = [
    "network-programming",
    "development-tools",
    "command-line-utilities",
]

license = "MIT"

homepage = "https://github.com/asmie/stamp-suite"
repository = "https://github.com/asmie/stamp-suite"

description = "Simple Two-Way Active Measurement Protocol (STAMP)"

readme = "README.md"

[features]
default = []
ttl-nix = ["nix"]
ttl-pnet = ["pnet"]

[dependencies]
rkyv = "0.8"
chrono = "0.4"
clap = { version = "4.5", features = ["derive"] }
env_logger = "0.11"
log = "0.4"
nix = { version = "0.31", optional = true, features = ["socket", "uio", "net"] }
pnet = { version = "0.35", optional = true }
thiserror = "2.0"

[dependencies.tokio]
version = "1.49"
features = ["full"]